<h2>You are in!</h2>
<h3>Welcome, {{username}}</h3>
<p>This is the crazy cat lady web!</p>
<img src="/images/lol.jpg" width=200px alt="">
<a href="/">Go back</a>
<br>
<a href="/users/private">Go to the super secret page!</a>
<form action="logout" method="POST">
    <button type="sumbit">Logout</button>
</form>